html {
    height: 100%;
}

body {

    margin: 0;
    padding: 0;
    color: black;
    height: 100%;

}

.mapboxgl-popup-content {

    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: black;
    background-color: aqua ! important;
    border: 2px solid #0031ff;

}

.mapboxgl-popup-tip {
    border-width: 0 ! important;
    color: aqua;
    background-color: aqua;
}

#map {

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

}
#content {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-evenly;
    width: 100%;
    height: 96%;

}

#content p {
    height: 8%;
    text-align: left;
}

header{
    font: 25px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    color: #bfa0b8;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0d0f34;
    border-bottom: 2px solid black;
    padding: 0px;
    width: auto;
    z-index: 2;
    border-radius: 0 0 15px 15px;
    /*height: 5%;*/

}

header p{
    /*margin: auto;*/
    /*background-color: white;*/
}
.buttons{
    padding: 2px;
}
